
body {
    background-color: #F0ECE3;

}

.cardContainer {
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.top-left-Text {
    position: absolute;
    top: 8px;
    left: 16px;
}

.imageInCard {
    width: 80%;
    height: 80%;
    border-radius: 7px;
}

.priceAndCompanyInfo {
    font-size: 23px;
    word-spacing: 60px;
    color: white;
    font-weight: bold;
    font-family: 'Gloria Hallelujah', cursive;
}

.shoeInfo {
    font-size: 22px;
    color: white;
    word-spacing: 60px;
    font-family: 'Gloria Hallelujah', cursive;
}

.onOffSaleLine {
    font-size: 20px;
    color: white;
    font-family: 'Gloria Hallelujah', cursive;
}

.cardDiv {
    background-color: #C7B198;
    border: 4px solid #DFD3C3;
    border-radius: 10%;
    width: 30%;
    height: 30%;
    padding: 1%;
    margin: 1.5%;
    text-align: center;
}

.ShoesHeader {
    font-family: 'Lobster', cursive;
    font-size: 70px;
    text-align: center;
}

.DivOfButtons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:2%;
}

.btn btn-primary me-md-2 btn-lg{

background-color:aquamarine;
}


/*.ButtonChangeView {
    font-size: 25%;
}

.ButtonChangeView:hover {
        background-color: white;
  }


.ButtonChangeView {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.ButtonChangeView:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.ButtonChangeView:hover:after {
    transform: translate(0, 0);
}

.ButtonChangeView:active {
    background-color: #ffdeda;
    outline: 0;
}

.ButtonChangeView:hover {
    outline: 0;
}

@media (min-width: 768px) {
   .ButtonChangeView {
        padding: 0 40px;
    }
}*/
