<link href="@Url.Content("~/Content/indexHome.css")" rel="stylesheet" type="text/css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Lobster&family=Neonderthaw&family=Trade+Winds&display=swap" rel="stylesheet">

<div class="boxHado">
    <marquee behavior="slide" direction="left" class="textOfHomePage">I never dreamed about success. I worked for it.</marquee>
</div>

<div class="containerOfFirstSec">
    <img src="http://www.adeevee.com/aimages/201401/15/adidas-micoach-get-explosive-print-355826-adeevee.jpeg" alt="FootballFlayer" class="imageOfHome">
</div>


<div class="jumbotron">
    <p class="paragraph">
        <h1>About us♥</h1>
        In the late 1960s, a collection of sporting goods stores in
        Southwestern Ontario Canada decided to buy as a group, allowing them to create be
        tter value for their customers. This buying group grew to become the brand we know today as Source For Sports, and has over 150 retail
        locations across Canada and the United States Of America.<br />
        Address : Herzel 200 Tel Aviv, Israel.
    </p>

</div>
<div class="jumbotron">
    <p class="paragraph">
        <h1>About me♥</h1>
        In the late 1960s, a collection of sporting goods stores in
        Southwestern Ontario Canada decided to buy as a group, allowing them to create be
        tter value for their customers. This buying group grew to become the brand we know today as Source For Sports, and has over 150 retail
        locations across Canada and the United States Of America.<br />
        Address : Herzel 200 Tel Aviv, Israel.
    </p>
</div>
<div class="row" class="containerOfSection">
    <div class="col-md-4">
        <h2 class="top-left">Mens</h2>
        <img src="https://cdn.pixabay.com/photo/2016/11/19/17/20/athlete-1840437__340.jpg" class="sectinImages" />
        <p class="bottom-right"><a class="btn btn-default" href="@Url.Action("onlyMansClothes","MansClothing")">Men</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="top-left">Women</h2>
        <img src="https://cdn.pixabay.com/photo/2019/12/03/08/42/model-4669520__340.jpg" class="sectinImages" />
        <p class="bottom-right"><a class="btn btn-default" href="@Url.Action("OnlyWomenClothes","MansClothing")">Women</a></p>
    </div>
    <div class="col-md-4">
        <h2 class="top-left">Kids</h2>
        <img src="https://cdn.pixabay.com/photo/2015/01/26/22/40/child-613199__480.jpg" class="sectinImages" />
        <p class="bottom-right"><a class="btn btn-default" href="@Url.Action("OnlyKidesClothes","MansClothing")">Kids</a></p>
    </div>

</div>
